{% trans_default_domain 'FOSUserBundle' %}

<div class="login-logo title-box-login">
    <b>ARAWATO</b>MEDIA
</div>
<p class="login-box-msg"> Control De Sistema De Seguridad </p>
{% if error %}
    <div class="errors-login">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<p class="login-box-msg">Ingresa tus datos:</p>

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group has-feedback">
        <label class="label-login" for="username"> Usuario </label>
        <input type="text" class="form-control inputs-login" placeholder="Ingresa tu usuario" autofocus id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        <span class="glyphicon glyphicon-user form-control-feedback icons-login"></span>
    </div>
    <div class="form-group has-feedback">
        <label class="label-login" for="password">Contraseña</label>
        <input type="password" class="form-control inputs-login" placeholder="Ingresa tu contraseña" id="password" name="_password" required="required" autocomplete="current-password" />
        <span class="glyphicon glyphicon-lock form-control-feedback icons-login"></span>
    </div>
    <br>
    {# <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label> #}

    <div class="centrado">
        <input type="submit" class="btn btn-primary btn-block btn-flat btn-login" id="_submit" name="_submit" value="Iniciar sesión" />
    </div>

</form>
