{% extends 'layout.html.twig' %}

{% block body %}
<div class="content-wrapper">
    
    <section class="content-header">
        <h1>
            Registro de Modificaciones en el Sistema
            <small>BBDD MySQL</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('home') }}"><i class="fa fa-laptop"></i>Principal </a></li>
            <li class="active"><i class="fa fa-list-alt"></i> Registro de Modificaciones </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Tabla de Datos Almacenados</h3>
                    </div>
                    <div class="box-body">
                        <table id="mytable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>Tipo de Modificacion</th>
                                    <th>Modificacion</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for modificacion in modificaciones %}
                                    <tr>
                                        <td>{{ modificacion.id }}</td>
                                        <td> Carlos Jaspe </td>
                                        <td>{{ modificacion.tipo }}</td>
                                        <td>{{ modificacion.valor }}</td>
                                        <td>{{ modificacion.createdAt|date('d-m-Y // h:i:s a') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                    
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>Tipo de Modificacion</th>
                                    <th>Modificacion</th>
                                    <th>Fecha</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
