{% extends 'layout.html.twig' %}

{% block body %}
<div class="content-wrapper">

    <section class="content-header">
        <h1 class="text-center">
            Control de Sistema de Seguridad
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-laptop"></i> Principal </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="col-md-12">
                    <div class="box box-solid bg-teal-gradient">
                    <div class="box-header">
                        <i class="fa fa-bar-chart"></i>
                        <h3 class="box-title">Promedio de Alertas</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body border-radius-none">
                        <canvas id="myCanvas"></canvas>
                    </div>
                </div>
                </div>
            </section>
        </div>

        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="col-md-12">
                    <div class="box box-info">

                        <div class="box-header">
                            <i class="ion ion-clipboard"></i><h3 class="box-title">Resumen de Alertas</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn bg-info btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn bg-info btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        
                        <div class="box-body border-radius-none">
                            <div class="row">

                                <div class="col-lg-3 col-xs-6">
                                    <div class="small-box bg-aqua">
                                        <div class="inner">
                                        <h3> {{ alertasHoy|length }} </h3>
                                        <p>Hoy</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-user-secret"></i>
                                    </div>
                                    <a href="{{ path('alertas') }}" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6">
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                        <h3> {{ alertasMes|length }} </h3>
                                        <p>Este Mes</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-user-secret"></i>
                                    </div>
                                    <a href="{{ path('alertas') }}" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-xs-6">
                                    <div class="small-box bg-yellow">
                                        <div class="inner">
                                        <h3> {{ alertasAnno|length }} </h3>
                                        <p>Este Año</p>
                                        </div>
                                    <div class="icon">
                                        <i class="fa fa-user-secret"></i>
                                    </div>
                                    <a href="{{ path('alertas') }}" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6">
                                    <div class="small-box bg-red">
                                        <div class="inner">
                                        <h3> {{ alertasTotal|length }} </h3>
                                        <p>Totales</p>
                                        </div>
                                    <div class="icon">
                                        <i class="fa fa-user-secret"></i>
                                    </div>
                                    <a href="{{ path('alertas') }}" class="small-box-footer"> Detalles <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        var color = Chart.helpers.color;
        var barChartData = {
            labels: [
                {% for alertas in alertasPromedio %}
                    '{{ alertas['FECHA'] }}',
                {% endfor %}
            ],
            datasets: [{
                label: 'Registros',
                backgroundColor: 'rgba(52, 73, 94, 0.5)',
                borderColor: 'rgb(52, 73, 94)',
                borderWidth: 1,
                data: [
                    {% for alertas in alertasPromedio %}
                        {{ alertas['COUNT(FECHA)'] }},
                    {% endfor %}
                ]
            }]

        };

        window.onload = function() {
            var ctx = document.getElementById("myCanvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }],
                    },
                    title: {
                        display: true,
                        text: 'INTRUSIONES REGISTRADAS',
                        fontSize: 15,
                    }
                }
            });
        };
            
        var colorNames = Object.keys(window.chartColors);

    </script>
{% endblock %}