/* APP */

 .main-header, .logo, .navbar {
    background-color: #0b989f !important;
}

.sidebar-toggle:hover {
    background: rgba(0,0,0,0.1) !important;
}

.logo:hover {
    background: rgba(0,0,0,0.1) !important;
}

li.user-header {
    background-color: #0b989f !important;
}

/* FIN APP */