/* LOGIN */

body{
    background-color: #0b989f  !important;
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colums-login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box-body {
    border-radius: 10px;
    box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.56);
}

.btn-login {
    border-radius: 7px !important;
    background-color: #53a4ee !important;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.btn-login:hover {
    background: #4d99e6 !important;
    font-size: 20px;
}

.img-login {
    width: 550px;    
}

.title-box-login {
    color: #0b989f;
    margin-bottom: 5px !important;
}

.login-box-msg {
    font-size: 18px !important;
}

.label-login {
    margin-bottom: 10px;
}

.inputs-login {
    border-radius: 7px;
    height: 40px;
}

.icons-login {
    margin-top: 7px;
    margin-right: 7px;
}

.errors-login {
    font-size: 18px;
    color: red;
    text-align: center;
}

@media (max-width: 767px) {
    .colum-der {
        display: none;
    }
}

/* FIN LOGIN */