{% extends 'layout.html.twig' %}

{% block body %}
<div class="content-wrapper">
    
    <section class="content-header">
        <h1>
            Historial de Alertas
            <small>BBDD MySQL</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('home') }}"><i class="fa fa-laptop"></i>Principal </a></li>
            <li class="active"><i class="fa fa-table"></i> Historial de alertas </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Tabla de Datos Almacenados</h3>
                    </div>
                    <div class="box-body">
                        <table id="mytable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Remitente</th>
                                    <th>Tipo de Alerta</th>
                                    <th>Sensor</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                {% for alerta in alertas %}
                                    <tr>
                                        <td>{{ alerta.id }}</td>
                                        <td>{{ alerta.remitente }}</td>
                                        <td>{{ alerta.tipo }}</td>
                                        <td>{{ alerta.zona }}</td>
                                        <td>{{ alerta.fecha|date('d-m-Y') }} // {{ alerta.hora|date('h:i:s a') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Remitente</th>
                                    <th>Tipo de Alerta</th>
                                    <th>Sensor</th>
                                    <th>Fecha</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
