<form name='enviaDatos' method='post' action='{{ path('alerta') }}'> 
    <input type='hidden' name='remitente' id='remitente' value=remitente> 
    <input type='hidden' name='tipoalerta' id='tipoalerta' value=tipoalerta> 
    <input type='hidden' name='sensor' id='sensor' value=sensor> 
</form> 

<form name='enviaModificacion' method='post' action='{{ path('modificacion') }}'> 
    <input type='hidden' name='tipomodificacion' id='tipomodificacion' value=tipomodificacion> 
    <input type='hidden' name='modificacion' id='modificacion' value=modificacion> 
</form> 