<header class="main-header">
    <a href="{{ path('home') }}" class="logo">
        <span class="logo-mini"><b>ARW</b></span>
        <span class="logo-lg"><b>ARAWATO</b>C.A.</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('dist/img/photo1.png') }}" class="user-image" alt="User Image">
                        <span class="hidden-xs text-bold"> {{app.user.username}} </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="{{ asset('dist/img/photo1.png') }}" class="img-circle" alt="User Image">
                            <p>
                                Administrador
                                <small>Ing. Mecatronica</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="text-center">
                                <a href="/logout" class="btn btn-default btn-flat">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>