<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        
        <title>{% block title %}Control de Sistema de Alármas{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/sweetalert2/dist/sweetalert2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('custom/app.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

    </head>
    
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {% block header %}
                {% include ('header.html.twig') %}
            {% endblock %}

            {% block sidebar %}
                {% include ('sidebar.html.twig') %}
            {% endblock %}

            {% block body %}
            {% endblock %}
            
            {% block footer %}
                {% include ('footer.html.twig') %}
            {% endblock %}

            {% block formHidden %}
                {% include ('formHidden.html.twig') %}
            {% endblock %}

            {% block javascripts %}
                <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
                <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
                <script> $.widget.bridge('uibutton', $.ui.button); </script>
                <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('bower_components/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
                <script src="{{ asset('bower_components/jquery-knob/dist/jquery.knob.min.js') }}"></script>
                <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
                <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
                <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
                <script src="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
                <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
                <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
                <script src="{{ asset('dist/js/pages/dashboard.js') }}"></script>
                <script src="{{ asset('dist/js/demo.js') }}"></script>
                <script src="{{ asset('bower_components/sweetalert2/dist/sweetalert2.min.js') }}"></script>
                <script src="{{ asset('bower_components/chart.js/Chart.bundle.js') }}"></script>
                <script src="{{ asset('bower_components/chart.js/utils.js') }}"></script>
                <script src="{{ asset('mqttws/mqttws31.js') }}"></script>
                <script src="{{ asset('custom/conexionMqtt.js') }}"></script>
                <script src="{{ asset('custom/tablas.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
