<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('dist/img/profile-logo.png') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Arawato Charallave</p>
                <a href="#"><i class="class_estado fa fa-circle"></i> <span id="estado">Esperando...</span></a>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"><i class="fa fa-th"></i> MENU DE OPCIONES</li> 
            <li>
                <a href="{{ path('home') }}">
                        <i class="fa fa-laptop text-aqua"></i> <span>Principal</span>
                </a>
            </li>
            <li>
                <a href="{{ path('alertas') }}">
                    <i class="fa fa-table text-green"></i> <span>Historial de alertas</span>
                </a>
            </li>
            <li>
                <a href="{{ path('modificaciones') }}">
                    <i class="fa fa-list-alt text-yellow"></i> <span>Registro de Modificaciones</span>
                </a>
            </li>
            <li class="header"><i class="fa fa-gears"></i> MODO DE FUNCiONAMIENTO</li>
            <li><a href="#" onclick='setModo("2")'><i class="fa fa-circle-o text-aqua"></i> <span>Horario Programado</span></a></li>
            <li><a href="#" onclick='setModo("1")'><i class="fa fa-circle-o text-green"></i> <span>Encender Siempre</span></a></li>
            <li><a href="#" onclick='setModo("0")'><i class="fa fa-circle-o text-yellow"></i> <span>Apagar Sistema</span></a></li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-clock-o text-aqua"></i> <span>Programar Horario</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <div class="box-body">
                        <form name='enviaHorario' method='post' action='{{ path('modificacionHorario') }}'> 
                            <div class="form-group">
                                <li><a href="#"><i class="fa fa-arrow-circle-up"></i> Hora Inicio</a></li>
                            </div>
                            
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="time" class="form-control timepicker" name="hora_inicio" id="hora_inicio" >

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <li><a href="#"><i class="fa fa-arrow-circle-down"></i> Hora Final</a></li>   
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="time" class="form-control timepicker" name="hora_final" id="hora_final" >

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                        <input type="button" class="btn btn-primary" name="aplicar" id="aplicar" value="Aplicar" onclick='setHora()'>
                            </div>
                        </form>
                    </div>
                </ul>
            </li>
        </ul>
    </section>
</aside>